<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/icon.ico" type="image/x-icon" />

    @*Render optional css files here on a page by page basis*@
    @RenderSection("Styles", false);

    @if (User.Identity.IsAuthenticated)
    {
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.2/dist/sweetalert2.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    }

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand text-light" asp-page="/Index">Generic HOA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/BoardMeetings">Board Meetings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Posts">Posts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light text-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Contact
                            </a>
                            <div class="dropdown-menu bg-dark background-dark" aria-labelledby="dropdownMenuLink">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <!-- Button trigger modal -->
                                    <a class="dropdown-item text-dark"
                                       data-modal="create-edit-modal"
                                       data-url="@Url.Page("/Contact/ContactBoard","FetchSendBoardEmailPartial")">
                                        Contact Board
                                    </a>
                                }
                                @*<a class="dropdown-item text-dark" asp-page="/Contact/Contact">Contact Admin</a>*@
                                <!-- Button trigger modal -->
                                <a class="dropdown-item text-dark"
                                   data-modal="create-edit-modal"
                                   data-url="@Url.Page("/Contact/ContactAdmin","FetchSendAdminEmailPartial")">
                                    Contact Admin
                                </a>
                            </div>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>
    <partial name="_CookieConsentPartial" />
    <footer class="border-top footer bg-dark text-light">
        <div class="container text-center vncustom">
            <p>&copy; @DateTime.Now.Year - Generic HOA (<a asp-page="/Privacy">Privacy</a>)</p>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        @if (User.Identity.IsAuthenticated)
        {
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
        }
    </environment>


    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.2/dist/sweetalert2.min.js"></script>
        <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
    }

    <script src="~/js/site.es5.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>