@model EventViewDto

@if (Model?.Title != null)
{
    <div class="card flex-md-row box-shadow shadow-sm p-1 flex-grow-1 mb-4">
        <div class="card-body d-flex flex-column align-items-start">
            <div class="d-flex flex-row">
                <h4 class="mb-0 dont-break-out">
                    <a class="text-primary" asp-page="/Event/Events">@Model.Title</a>
                </h4>
            </div>
            <div class="ml-0">
                <small>
                    <a asp-page="/Event/Events" asp-page-handler="ICALFile"
                       asp-route-id="@Model.Id" class="text-info">
                        Add to Calendar<i class="fa fa-calendar ml-1" aria-hidden="true"></i>
                    </a>
                </small>
            </div>
            <div class="mb-1 text-success w-100 border-bottom mb-2">Scheduled: @(Model.ScheduledTime.ToString("MMMM dd, yyyy hh:mm tt", CultureInfo.InvariantCulture))</div>
            <div class="card-text mb-auto dont-break-out">@Html.Raw(Model.Message)</div>
        </div>
    </div>
}
else
{
    <div class="card flex-row mb-4 box-shadow shadow-sm h-100">
        <div class="card-body d-flex flex-column align-items-start">
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger d-flex flex-row">@TempData["Error"]</div>
            }
            else
            {
                <h4>No Event Scheduled</h4>
                <div class="mb-1 text-muted w-100 border-bottom mb-2 mt-auto">Check back later!</div>
            }
        </div>
    </div>
}